@font-face {
  font-family: nebula;
  src: url(./assets/Outfit-Regular.ttf);
}

@font-face {
  font-family: better;
  src: url(./assets/Fontspring-DEMO-juanaalt-regular.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: nebula;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  background: radial-gradient(circle at top left, #1f2937, #020617 60%);
  width: 100%;
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 2px solid #5651e25a;;
}

.left h2 {
  font-size: 34px;
  font-family: better;
}

.middle {
  display: flex;
  gap: 20px;
}

.middle h3 {
  font-weight: 300;
  cursor: pointer;
  position: relative;
}

.right button {
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: white;
  font-weight: 600;
  border: none;
}

.middle h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: #5551E2;
  transition: all ease-out 0.33s;
}

.middle h3:hover::after {
  width: 100%;
}

.right button:active {
  scale: 0.95;
}

.right button:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 20px rgba(79, 70, 229, 0.5);
  opacity: 0.95;
}

.hero-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.design {
  font-family: better;
  color:#5551E2;
}

.hero-page h1 {
  font-size: 60px;
  color: white;
}

.hero-page p {
  font-size: 20px;
  color: white;
}

.hero-page .btn {
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  display: inline-flex;  
  font-weight: 600;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: white;
  margin-top: 20px;
  text-decoration: none;
  transition: transform 0.2s ease,
  box-shadow 0.2s ease;
}


.hero-page .btn:active {
  scale: 0.95;
}

.hero-page .btn:hover {
  box-shadow: 0 6px 20px rgba(79, 70, 229, 0.5);
  opacity: 0.95;
  transform: translateY(-2px) scale(1.03);
}

.arrow{
  position: absolute;
  height: 150px;
  left: 30%;
  bottom: 26%;
  transform: rotate(-30deg);
}