@font-face {
    font-family: nebula;
    src: url(./assets/Outfit-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: nebula;
}

html,
body {
  height: 100%;
  width: 100%;
}

main{
    height: 100vh;
    width: 100%;
}

.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-bottom: 2px solid rgba(37, 37, 37, 0.285);
}

.left h2{
    font-size: 34px;
}

.middle{
    display: flex;
    gap: 20px;
}

.middle h3{
    font-weight: 300;
    cursor: pointer;
    position: relative;
}

.right button{
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid black;
}

.middle h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: black;
    transition: all ease-out 0.33s;
}

.middle h3:hover::after{
    width: 100%;
}

.right button:active{
    scale: 0.95;
}